<html>
<head>
<% include head %>
</head>
<body class="wrapper">
<header><% include header %></header>
<main class="main-wr">
<b>Error 404?</b> No such file or directory!
</main>
<footer><% include footer %></footer>
</body>
</html>