<!-- footer.ejs -->
<style>
footer{
font:bold 1.2em/2.5 arial;
/*
display:table-row;
*/
background-color:green;
position:relative;
width:100%;
height:40px;
text-align:center;
bottom:0;
}
</style>
Hosted by Al <a href="https://heroku.com">heroku.com</a>