<!-- views/head.ejs -->

<title>Super etwas</title>
<meta http-equiv="X-UA-Compatible" content="some content">
<meta content="width=device-width,initial-scale=1" name="viewport" />
<meta charset="utf-8" />
<meta name="description" content="Simple site on express.js">
<meta name="author" content="globibot on heroku.com">
<link rel="shortcut icon" type="image/ico" href="http://frontender.info/favicon.ico">
<link rel="stylesheet" href="/stylesheets/main.css" media=screen>