<!DOCTYPE html>
<html lang="en">

<head>
<% include head %>


</head>
<body class="wrapper">

<header class="header">
<% include header %>
</header>
<main class="main-wr">
<% if (message) { %>
<p><%= message %></p>
<% } %>

<% if (message.length > 0) { %>
<%= message %>
<% } %>
<fieldset style="width:400px;margin:auto;">
<form action="/login" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username"/>
	</div>
        </br>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
</br>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form><p><small>nt - b:s</small></p></fieldset>

</main>
<footer class="footer"><% include footer %></footer>

</body>
</html>